{% extends 'web/partials/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}


<section class="banner-section position-relative overflow-hidden bg-dark text-white">
    <div class="parallax bg-cover position-absolute start-0 top-0 w-100 h-100 opacity-50"></div>
    <div class="container">
        <h2 class="underline-bold fw-bold fs-1 mb-3 pb-3">Contact</h2>

        <nav aria-label="breadcrumb" class="breadcrumb-text">
            <ol class="breadcrumb">
                <li class=""><a href="{% url 'web:index' %}">Home > </a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</section>

<section class="news-section py-60">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 font-size-lamiiz ps-pt-mob-4">
                <h1 class=" fw-bold fs-2 pb-20">Get in Touch</h1>
                <ul class="contact-icon list-unstyled ps-0 d-grid gap-10 mb-5">
                    <li>
                        <a target="_blank" href="https://maps.app.goo.gl/FeNoV2397TBw3Bq18" class="text-decoration-none text-dark text-opacity-75 me-40">
                            <span>Brothers Complex, Block Road, Kondotti Malappuram, Malappuram - 673638</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+917012537042"
                            class="text-decoration-none d-flex gap-3 text-dark text-opacity-75">
                            <i class="fa-solid fa-phone text-primary"></i>
                            <span>+91 70125 37042</span></a>
                    </li>
                  
                    <li>
                        <a href="mailto:info@themeperch.net"
                            class="text-decoration-none d-flex gap-3 text-dark text-opacity-75">
                            <i class="fa-solid fa-envelope-open-text text-primary"></i>
                            <span>info@themeperch.net</span>
                        </a>
                    </li>

                </ul>

                <h1 class=" fw-bold fs-2 pb-20">Working Hours</h1>
                <ul class="list-unstyled ps-0 d-grid gap-20 mb-5">
                    <li>
                        <p class="mb-0">Monday to Friday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">8.00am - 5.30pm</p>
                    </li>

                    <li>
                        <p class="mb-0">Saturday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">9.00am - 2.00pm</p>
                    </li>

                    <li>
                        <p class="mb-0">Sunday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">Closed</p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-8 font-size-lamiiz">
                <form class="row gx-3 gy-10" action"" method="POST">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <span class="">
                            {{form.name}}
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="">
                            {{form.email}}
                        </span>
                    </div>
                    <div class="col-md-6">
                        {{form.number}}
                    </div>

                    <div class="col-md-6">
                        {{form.department}}
                    </div>

                    <div class="col-md-12">
                        <span class="">
                            {{form.message}}
                        </span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary">Sent a message   <i class="fa fa-long-arrow-right arrow-button" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="mb-5">
        {% comment %} <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true"><span>Brothers Group Office</span></button>
            </div>
        </nav> {% endcomment %}
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d244.65793809051345!2d75.9610624!3d11.1485615!3m2!1i1024!2i768!4f13.1!4m9!3e9!4m3!3m2!1d11.1420739!2d75.97190479999999!4m3!3m2!1d11.148658!2d75.961108!5e0!3m2!1sen!2sin!4v1692955271626!5m2!1sen!2sin"
                        height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
