{% extends 'web/partials/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}


<section class="banner-section position-relative overflow-hidden bg-dark text-white">
    <div class="parallax bg-cover position-absolute start-0 top-0 w-100 h-100 opacity-50"></div>
    <div class="container">
        <h2 class="underline-bold fw-bold fs-1 mb-3 pb-3">Contact</h2>

        <nav aria-label="breadcrumb" class="breadcrumb-text">
            <ol class="breadcrumb">
                <li class=""><a href="{% url 'web:index' %}">Home > </a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</section>

<section class="news-section py-60">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 font-size-lamiiz ps-pt-mob-4">
                <h1 class=" fw-bold fs-2 pb-20">Get in Touch</h1>
                <ul class="contact-icon list-unstyled ps-0 d-grid gap-10 mb-5">
                    <li>
                        <a href="#" class="text-decoration-none text-dark text-opacity-75 me-40">
                            <span>70 W. Madison Street, Ste. 1400 Chicago, IL 60602</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:(214) 550-0405"
                            class="text-decoration-none d-flex gap-3 text-dark text-opacity-75">
                            <i class="fa-solid fa-phone text-primary"></i>
                            <span>(214) 550-0405</span></a>
                    </li>
                    <li>
                        <a href="tel:(214) 550-5405"
                            class="text-decoration-none d-flex gap-3 text-dark text-opacity-75">
                            <i class="fa-solid fa-phone text-primary"></i>
                            <span>(214) 550-5405</span></a>
                    </li>
                    <li>
                        <a href="mailto:info@themeperch.net"
                            class="text-decoration-none d-flex gap-3 text-dark text-opacity-75">
                            <i class="fa-solid fa-envelope-open-text text-primary"></i>
                            <span>info@themeperch.net</span>
                        </a>
                    </li>

                </ul>

                <h1 class=" fw-bold fs-2 pb-20">Working Hours</h1>
                <ul class="list-unstyled ps-0 d-grid gap-20 mb-5">
                    <li>
                        <p class="mb-0">Monday to Friday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">8.00am - 5.30pm</p>
                    </li>

                    <li>
                        <p class="mb-0">Saturday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">9.00am - 2.00pm</p>
                    </li>

                    <li>
                        <p class="mb-0">Sunday</p>
                        <p class="text-dark text-opacity-75 fw-bold mb-0 heading-font">Closed</p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-8 font-size-lamiiz">
                <form class="row gx-3 gy-10" action"" method="POST">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <span class="">
                            {{form.name}}
                            {% comment %} <input type="text" class="form-control" id="inputFname"
                                placeholder="First name" required> {% endcomment %}
                        </span>
                    </div>
                    {% comment %} <div class="col-md-6">
                        <span class="">
                            {{form.last_name}}

                            {% comment %} <input type="text" class="form-control" id="inputLname"
                                placeholder="Last name" required>
                        </span>
                    </div> {% endcomment %}
                    <div class="col-md-6">
                        <span class="">
                            {{form.email}}

                            {% comment %} <input type="email" class="form-control" id="inputEmail"
                                placeholder="Your E-mail" required> {% endcomment %}
                        </span>
                    </div>
                    <div class="col-md-6">
                        {{form.number}}

                        {% comment %} <input type="text" class="form-control" id="inputPhone"
                            placeholder="Your Phone Number"> {% endcomment %}
                    </div>
                    {% comment %} <div class="col-md-6">
                        {{form.website}}

                        {% comment %} <input type="text" class="form-control" id="inputweb" placeholder="Website">
                    </div> {% endcomment %}
                    <div class="col-md-6">
                        {{form.department}}
                        {% comment %} <span class="required-field">
                            {{form.item}}
                            <select id="inputState" class="form-select" required>
                                {% comment %} <option selected>Department</option>
                                <option>Finance</option>
                                <option>Investment</option>
                                <option>Others</option>
                            </select>
                        </span> {% endcomment %}
                    </div>

                    <div class="col-md-12">
                        <span class="">
                            {{form.message}}

                            {% comment %} <textarea class="form-control" placeholder="Your message"
                                id="floatingTextarea2" rows="10" cols="40"></textarea> {% endcomment %}
                        </span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary">Sent a message   <i class="fa fa-long-arrow-right arrow-button" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="mb-5">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true"><span>Brothers Group
                        Office</span></button>

                {% comment %} <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                    aria-selected="false"><span>Atlanta
                        Office</span></button> {% endcomment %}

                {% comment %} <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                    aria-selected="false"><span>New York
                        Office</span></button> {% endcomment %}


            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2026.733665488214!2d-87.71953297267834!3d41.85845216473548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e32f5ed5b9b25%3A0x7890b6475f42cd0a!2sGrupo%20La%20Barca!5e0!3m2!1sen!2sbd!4v1659360405147!5m2!1sen!2sbd"
                        height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5381.495784372283!2d-84.39270977805248!3d33.748097267663034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50384a2ab7955%3A0x7d8a2d3aee88c9e4!2sAtlanta%20City%20Hall!5e0!3m2!1sen!2sbd!4v1659364126414!5m2!1sen!2sbd"
                        height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5085.176043272151!2d-74.00235627911458!3d40.72542877689155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e713d43875%3A0xbfd5eb3c3e1bb328!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1sen!2sbd!4v1659360728118!5m2!1sen!2sbd"
                        height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab2"
                tabindex="0">
                <div>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.8005966256187!2d-0.18453926902993797!3d51.498526614491894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876055c6c00dea7%3A0xfea656e1e40a4332!2sBangladesh%20High%20Commission%2C%20London!5e0!3m2!1sen!2sbd!4v1659360864035!5m2!1sen!2sbd"
                        height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
